<% include partials/header.ejs %>

<h1>Gerät Registrieren</h1>

<div class="jumbotron">
  <div class="col-md-12">
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="InputUsername" style="margin:0.3rem;">Nutzername</label>
            <input type="text" class="form-control" name="username" placeholder="Nutzername" style="margin:0.3rem;">
            <small id="userHelp" class="form-text text-muted" style="margin:0.2rem;">Zur Auswertung im MQTT topic</small>
        </div>
      <button type="submit" class="btn btn-primary" name="type" value="train" style="margin:0.3rem;">Trainingsdaten generieren</button>
      <button type="submit" class="btn btn-primary" name="type" value="test" style="margin:0.3rem;">Bewegungen durch ML klassifizieren</button>
    </form>
  </div>
</div>

<% include partials/footer.ejs %>


