<% include partials/header.ejs %>

<h1>Gerät Registrieren</h1>

<div class="jumbotron">
  <div class="col-md-12">
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="InputUsername">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Nutzername">
            <small id="userHelp" class="form-text text-muted">Zur Auswertung im MQTT topic</small>
        </div>
      <button type="submit" class="btn btn-primary">Daten generieren</button>
    </form>
  </div>
</div>

<% include partials/footer.ejs %>


